#album1 {background-image: url(../img/albums/01.jpg);}
#album2 {background-image: url(../img/albums/02.jpg);}
#album3 {background-image: url(../img/albums/03.jpg);}
#album4 {background-image: url(../img/albums/04.jpg);}
#album5 {background-image: url(../img/albums/05.jpg);}
#album6 {background-image: url(../img/albums/06.jpg);}
#album7 {background-image: url(../img/albums/07.jpg);}
#album8 {background-image: url(../img/albums/08.jpg);}
#album9 {background-image: url(../img/albums/09.jpg);}
#album10 {background-image: url(../img/albums/10.jpg);}
#album11 {background-image: url(../img/albums/11.jpg);}
#album12 {background-image: url(../img/albums/12.jpg);}
#album13 {background-image: url(../img/albums/13.jpg);}
#album14 {background-image: url(../img/albums/14.jpg);}
#album15 {background-image: url(../img/albums/15.jpg);}
#album16 {background-image: url(../img/albums/16.jpg);}
#album17 {background-image: url(../img/albums/17.jpg);}
#album18 {background-image: url(../img/albums/18.jpg);}
#album19 {background-image: url(../img/albums/19.jpg);}
#album20 {background-image: url(../img/albums/20.jpg);}
#album21 {background-image: url(../img/albums/21.jpg);}
#album22 {background-image: url(../img/albums/22.jpg);}
#album23 {background-image: url(../img/albums/23.jpg);}
#album24 {background-image: url(../img/albums/24.jpg);}
#album25 {background-image: url(../img/albums/25.jpg);}
#album26 {background-image: url(../img/albums/26.jpg);}
#album27 {background-image: url(../img/albums/27.jpg);}
#album28 {background-image: url(../img/albums/28.jpg);}
#album29 {background-image: url(../img/albums/29.jpg);}
#album30 {background-image: url(../img/albums/30.jpg);}
#album31 {background-image: url(../img/albums/31.jpg);}
#album32 {background-image: url(../img/albums/32.jpg);}
#album33 {background-image: url(../img/albums/33.jpg);}
#album34 {background-image: url(../img/albums/34.jpg);}
#album35 {background-image: url(../img/albums/35.jpg);}
#album36 {background-image: url(../img/albums/36.jpg);}
#album37 {background-image: url(../img/albums/37.jpg);}
#album38 {background-image: url(../img/albums/38.jpg);}
#album39 {background-image: url(../img/albums/39.jpg);}
#album40 {background-image: url(../img/albums/40.jpg);}
#album41 {background-image: url(../img/albums/41.jpg);}
#album42 {background-image: url(../img/albums/42.jpg);}
#album43 {background-image: url(../img/albums/43.jpg);}
#album44 {background-image: url(../img/albums/44.jpg);}
#album45 {background-image: url(../img/albums/45.jpg);}
#album46 {background-image: url(../img/albums/46.jpg);}
#album47 {background-image: url(../img/albums/47.jpg);}
#album48 {background-image: url(../img/albums/48.jpg);}

#queue1 {background-image: url(../img/albums/01.jpg);}
#queue2 {background-image: url(../img/albums/02.jpg);}
#queue3 {background-image: url(../img/albums/03.jpg);}
#queue4 {background-image: url(../img/albums/04.jpg);}
#queue5 {background-image: url(../img/albums/05.jpg);}
#queue6 {background-image: url(../img/albums/06.jpg);}
#queue7 {background-image: url(../img/albums/07.jpg);}
#queue8 {background-image: url(../img/albums/08.jpg);}
#queue9 {background-image: url(../img/albums/09.jpg);}
#queue10 {background-image: url(../img/albums/10.jpg);}
#queue11 {background-image: url(../img/albums/11.jpg);}
#queue12 {background-image: url(../img/albums/12.jpg);}
#queue13 {background-image: url(../img/albums/13.jpg);}
#queue14 {background-image: url(../img/albums/14.jpg);}
#queue15 {background-image: url(../img/albums/15.jpg);}
#queue16 {background-image: url(../img/albums/16.jpg);}
#queue17 {background-image: url(../img/albums/17.jpg);}
#queue18 {background-image: url(../img/albums/18.jpg);}
#queue19 {background-image: url(../img/albums/19.jpg);}
#queue20 {background-image: url(../img/albums/20.jpg);}
#queue21 {background-image: url(../img/albums/21.jpg);}
#queue22 {background-image: url(../img/albums/22.jpg);}
#queue23 {background-image: url(../img/albums/23.jpg);}
#queue24 {background-image: url(../img/albums/24.jpg);}
#queue25 {background-image: url(../img/albums/25.jpg);}
#queue26 {background-image: url(../img/albums/26.jpg);}
#queue27 {background-image: url(../img/albums/27.jpg);}
#queue28 {background-image: url(../img/albums/28.jpg);}
#queue29 {background-image: url(../img/albums/29.jpg);}
#queue30 {background-image: url(../img/albums/30.jpg);}
#queue31 {background-image: url(../img/albums/31.jpg);}
#queue32 {background-image: url(../img/albums/32.jpg);}
#queue33 {background-image: url(../img/albums/33.jpg);}
#queue34 {background-image: url(../img/albums/34.jpg);}
#queue35 {background-image: url(../img/albums/35.jpg);}
#queue36 {background-image: url(../img/albums/36.jpg);}
#queue37 {background-image: url(../img/albums/37.jpg);}
#queue38 {background-image: url(../img/albums/38.jpg);}
#queue39 {background-image: url(../img/albums/39.jpg);}
#queue40 {background-image: url(../img/albums/40.jpg);}
#queue41 {background-image: url(../img/albums/41.jpg);}
#queue42 {background-image: url(../img/albums/42.jpg);}
#queue43 {background-image: url(../img/albums/43.jpg);}
#queue44 {background-image: url(../img/albums/44.jpg);}
#queue45 {background-image: url(../img/albums/45.jpg);}
#queue46 {background-image: url(../img/albums/46.jpg);}
#queue47 {background-image: url(../img/albums/47.jpg);}
#queue48 {background-image: url(../img/albums/48.jpg);}

#blur1 {background-image: url(../img/albums/blurred-album-01.png);}
#blur2 {background-image: url(../img/albums/blurred-album-02.png);}
#blur3 {background-image: url(../img/albums/blurred-album-03.png);}
#blur4 {background-image: url(../img/albums/blurred-album-04.png);}
#blur5 {background-image: url(../img/albums/blurred-album-05.png);}
#blur6 {background-image: url(../img/albums/blurred-album-06.png);}
#blur7 {background-image: url(../img/albums/blurred-album-07.png);}
#blur8 {background-image: url(../img/albums/blurred-album-08.png);}
#blur9 {background-image: url(../img/albums/blurred-album-09.png);}
#blur10 {background-image: url(../img/albums/blurred-album-10.png);}
#blur11 {background-image: url(../img/albums/blurred-album-11.png);}
#blur12 {background-image: url(../img/albums/blurred-album-12.png);}
#blur13 {background-image: url(../img/albums/blurred-album-13.png);}
#blur14 {background-image: url(../img/albums/blurred-album-14.png);}
#blur15 {background-image: url(../img/albums/blurred-album-15.png);}
#blur16 {background-image: url(../img/albums/blurred-album-16.png);}
#blur17 {background-image: url(../img/albums/blurred-album-17.png);}
#blur18 {background-image: url(../img/albums/blurred-album-18.png);}
#blur19 {background-image: url(../img/albums/blurred-album-19.png);}
#blur20 {background-image: url(../img/albums/blurred-album-20.png);}
#blur21 {background-image: url(../img/albums/blurred-album-21.png);}
#blur22 {background-image: url(../img/albums/blurred-album-22.png);}
#blur23 {background-image: url(../img/albums/blurred-album-23.png);}
#blur24 {background-image: url(../img/albums/blurred-album-24.png);}
#blur25 {background-image: url(../img/albums/blurred-album-25.png);}
#blur26 {background-image: url(../img/albums/blurred-album-26.png);}
#blur27 {background-image: url(../img/albums/blurred-album-27.png);}
#blur28 {background-image: url(../img/albums/blurred-album-28.png);}
#blur29 {background-image: url(../img/albums/blurred-album-29.png);}
#blur30 {background-image: url(../img/albums/blurred-album-30.png);}
#blur31 {background-image: url(../img/albums/blurred-album-31.png);}
#blur32 {background-image: url(../img/albums/blurred-album-32.png);}
#blur33 {background-image: url(../img/albums/blurred-album-33.png);}
#blur34 {background-image: url(../img/albums/blurred-album-34.png);}
#blur35 {background-image: url(../img/albums/blurred-album-35.png);}
#blur36 {background-image: url(../img/albums/blurred-album-36.png);}
#blur37 {background-image: url(../img/albums/blurred-album-37.png);}
#blur38 {background-image: url(../img/albums/blurred-album-38.png);}
#blur39 {background-image: url(../img/albums/blurred-album-39.png);}
#blur40 {background-image: url(../img/albums/blurred-album-40.png);}
#blur41 {background-image: url(../img/albums/blurred-album-41.png);}
#blur42 {background-image: url(../img/albums/blurred-album-42.png);}
#blur43 {background-image: url(../img/albums/blurred-album-43.png);}
#blur44 {background-image: url(../img/albums/blurred-album-44.png);}
#blur45 {background-image: url(../img/albums/blurred-album-45.png);}
#blur46 {background-image: url(../img/albums/blurred-album-46.png);}
#blur47 {background-image: url(../img/albums/blurred-album-47.png);}
#blur48 {background-image: url(../img/albums/blurred-album-48.png);}
