#artist1 {background-image: url(../img/artists/01.jpg);}
#artist2 {background-image: url(../img/artists/02.jpg);}
#artist3 {background-image: url(../img/artists/03.jpg);}
#artist4 {background-image: url(../img/artists/04.jpg);}
#artist5 {background-image: url(../img/artists/05.jpg);}
#artist6 {background-image: url(../img/artists/06.jpg);}
#artist7 {background-image: url(../img/artists/07.jpg);}
#artist8 {background-image: url(../img/artists/08.jpg);}
#artist9 {background-image: url(../img/artists/09.jpg);}

#artist_blur1 {background-image: url(../img/artists/blur_01.jpg);}
#artist_blur2 {background-image: url(../img/artists/blur_02.jpg);}
#artist_blur3 {background-image: url(../img/artists/blur_03.jpg);}
#artist_blur4 {background-image: url(../img/artists/blur_04.jpg);}
#artist_blur5 {background-image: url(../img/artists/blur_05.jpg);}
#artist_blur6 {background-image: url(../img/artists/blur_06.jpg);}
#artist_blur7 {background-image: url(../img/artists/blur_07.jpg);}
#artist_blur8 {background-image: url(../img/artists/blur_08.jpg);}
#artist_blur9 {background-image: url(../img/artists/blur_09.jpg);}