#artist1 {background-image: url(../img/artists/01.jpg);}
#artist2 {background-image: url(../img/artists/02.jpg);}
#artist3 {background-image: url(../img/artists/03.jpg);}
#artist4 {background-image: url(../img/artists/04.jpg);}
#artist5 {background-image: url(../img/artists/05.jpg);}
#artist6 {background-image: url(../img/artists/06.jpg);}
#artist7 {background-image: url(../img/artists/07.jpg);}
#artist8 {background-image: url(../img/artists/08.jpg);}
#artist9 {background-image: url(../img/artists/09.jpg);}

#artist_blur1 {background-image: url(../img/artists/blur_01.jpg);}
#artist_blur2 {background-image: url(../img/artists/blur_02.jpg);}
#artist_blur3 {background-image: url(../img/artists/blur_03.jpg);}
#artist_blur4 {background-image: url(../img/artists/blur_04.jpg);}
#artist_blur5 {background-image: url(../img/artists/blur_05.jpg);}
#artist_blur6 {background-image: url(../img/artists/blur_06.jpg);}
#artist_blur7 {background-image: url(../img/artists/blur_07.jpg);}
#artist_blur8 {background-image: url(../img/artists/blur_08.jpg);}
#artist_blur9 {background-image: url(../img/artists/blur_09.jpg);}

#artistAlbum1_1 {background-image: url(../img/albums/AA01.jpg);}
#artistAlbum1_2 {background-image: url(../img/albums/AA02.jpg);}
#artistAlbum1_3 {background-image: url(../img/albums/AA03.jpg);}
#artistAlbum1_4 {background-image: url(../img/albums/AA04.jpg);}
#artistAlbum1_5 {background-image: url(../img/albums/AA05.jpg);}
#artistAlbum1_6 {background-image: url(../img/albums/AA06.jpg);}
#artistAlbum1_7 {background-image: url(../img/albums/AA07.jpg);}

#artistAlbum2_1 {background-image: url(../img/albums/AA08.jpg);}
#artistAlbum2_2 {background-image: url(../img/albums/AA09.jpg);}
#artistAlbum2_3 {background-image: url(../img/albums/AA10.jpg);}
#artistAlbum2_4 {background-image: url(../img/albums/AA11.jpg);}
#artistAlbum2_5 {background-image: url(../img/albums/AA12.jpg);}
#artistAlbum2_6 {background-image: url(../img/albums/AA13.jpg);}

#artistAlbum3_1 {background-image: url(../img/albums/AA14.jpg);}
#artistAlbum3_2 {background-image: url(../img/albums/AA15.jpg);}
#artistAlbum3_3 {background-image: url(../img/albums/AA16.jpg);}

#artistAlbum4_1 {background-image: url(../img/albums/AA17.jpg);}
#artistAlbum4_2 {background-image: url(../img/albums/AA18.jpg);}

#artistAlbum5_1 {background-image: url(../img/albums/AA19.jpg);}
#artistAlbum5_2 {background-image: url(../img/albums/AA20.jpg);}
#artistAlbum5_3 {background-image: url(../img/albums/AA21.jpg);}
#artistAlbum5_4 {background-image: url(../img/albums/AA22.jpg);}
#artistAlbum5_5 {background-image: url(../img/albums/AA23.jpg);}

#artistAlbum6_1 {background-image: url(../img/albums/AA24.jpg);}
#artistAlbum6_2 {background-image: url(../img/albums/AA25.jpg);}
#artistAlbum6_3 {background-image: url(../img/albums/AA26.jpg);}
#artistAlbum6_4 {background-image: url(../img/albums/AA27.jpg);}
