/* ---- GENERAL ---- */
body {
    -ms-content-zoom-boundary-max: 100%;
    -ms-content-zoom-boundary-min: 100%;
    margin: 0;
    padding: 0;
}

.body-area {
    background-color: black;
    -webkit-transition: all 1s;
    z-index: 999;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 768px;
    height: 1024px;
}

/* ---- TYPOGRAPHY ---- */
h1 {
    font-family: Helvetica Neue;
    font-size: 34px;
    font-weight: 300;
}

h2 {
    font-family: Helvetica Neue;
    font-size: 22px;
    font-weight: 500;
}

h3 {
    font-family: Helvetica Neue;
    font-size: 22px;
    font-weight: 300;
}


.currentAreaIndicator {
    padding-top: 100px;
    z-index: 100;
    -webkit-transition: all 1.5s;
    width: 768px;
    position: absolute;
}

.showTemperature {
    position: absolute;
    top: 200px;
    -webkit-transition: opacity 0.5s;
}

.showTemperature > h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 200;
}

#leftTemperatureZone {
    left: 102px;
}
#rightTemperatureZone {
    left: 556px;
}

.temperatureUnit {
    position: absolute;
    top: 700px;
    width: 120px;
    text-align: center;
    opacity: 0.3;
}

.temperatureUnit.left {
    left: 102px;
}
.temperatureUnit.right {
    left: 556px;
}

.temperatureIndicator {
    width: 130px;
    height: 130px;
    margin-left: -65px;
    margin-top: -65px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(255,255,255);
    border-width: 2px;
    -webkit-transition: opacity 0.25s, width 0.5s, height 0.5s, margin-left 0.5s, margin-top 0.5s;
    opacity: 0.3;
    position: absolute;
}

.temperatureIndicator > .center {
    margin-top: 50px;
    -webkit-transition: opacity 0.25s, margin-top 0.5s;
}

.temperatureIndicatorActive > .center {
    margin-top: 115px;
}

.temperatureIndicatorActive {
    width: 260px;
    height: 260px;
    margin-left: -130px;
    margin-top: -130px;
    opacity: 1.0;
}

#centerTempIndicator {
    top: 512px;
    left: 384px;
}

#leftTempIndicator {
    top: 512px;
    left: 160px;
}

#rightTempIndicator {
    top: 512px;
    left: 609px;
}

.leftTemperatureViz {
    height: 1024px;
    width: 768px;
    position: absolute;
    top: 0px;
    background-size: 100%;
}

.rightTemperatureViz {
    height: 1024px;
    width: 768px;
    position: absolute;
    top: 0px;
    background-size: 100%;
}

.temperatureMenu {
    width: 576px;
    height: 128px;
    top: 200px;
    position: absolute;
    opacity: 0.0;
    -webkit-transition: left 0.5s, opacity 0.5s;
}

.temperatureMenuL {
    left: -128px;
}

.temperatureMenuR {
    left: 320px;
}

.temperatureMenuPoint {
    width: 192px;
    height: 128px;
    float: left;
    -webkit-transition: opacity 0.5s;
}

.menuPoint {
    margin-top: -4px;
    font-weight: 500;
}

.menuIcon {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
}

#menuIcon1 {
    background-image: url(../img/icons/ventilation.png);
}
#menuIcon2 {
    background-image: url(../img/icons/seatHeating.png);
}
#menuIcon3 {
    background-image: url(../img/icons/seatCooling.png);
}
#menuIcon4 {
    background-image: url(../img/icons/albums.png);
}
#menuIcon5 {
    background-image: url(../img/icons/artists.png);
}
#menuIcon6 {
    background-image: url(../img/icons/playlists.png);
}

#leftTemperatureCold {
    background-image: url(../img/cold-left.png);
    opacity: 0;
}

#leftTemperatureHot {
    background-image: url(../img/hot-left.png);
    opacity: 0;
}

#rightTemperatureCold {
    background-image: url(../img/cold-right.png);
    opacity: 0;
}

#rightTemperatureHot {
    background-image: url(../img/hot-right.png);
    opacity: 0;
}

.connectingLine {
    height: 2px;
    top: 512px;
    position: absolute;
    background-color: #fff;
    opacity: 0.3;
    -webkit-transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
}

.leftConnectingLine {
    left: 229px;
    width: 90px;
}

.leftCleftNodeActive {
    left: 292px;
    width: 27px;
}
.leftCCenterNodeActive {
    left: 229px;
    width: 27px;
}

.rightConnectingLine {
    left: 453px;
    width: 91px;
}
.rightCrightNodeActive {
    left: 453px;
    width: 27px;
}
.rightCCenterNodeActive {
    left: 517px;
    width: 27px;
}

.upConnectingLine {
    left: 383px;
    height: 90px;
    width: 2px;
    top: 357px;
    background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
}
.upConnectingLineActive {
    top: 292px;
}
.downConnectingLine {
    left: 383px;
    height: 90px;
    width: 2px;
    top: 581px;
    background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
}
.downConnectingLineActive {
    top: 645px;
}

#touch-area {
    color: white;
    height: 1024px;
    text-align: center;
}

#last-event {
    background-color: white;
    position: absolute;
    top: 0;
}

#original-event {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
    overflow: hidden;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}
.highlightArea {
    background-color: green;
}


/* background colors for specific areas, if needed */
.area1 {
    background-color: #000;
}
.area2 {
    background-color: #000;
}
.area3 {
    background-color: #000;
}

.leftPanel {
    width: 45%;
    height: 0%;
    float: left;
    background-color: yellow;
    -webkit-transition: all 1s;
}

.rightPanel {
    width: 45%;
    height: 0%;
    float: right;
    background-color: blue;
    -webkit-transition: all 1s;
}

.panelVisible {
    height: 100%;
}

.standardVisible {
    opacity: 1.0;
}

.standardFaded {
    opacity: 0.3;
}

.albumOverview {
    width: 768px;
    position: relative;
    top: 0px;
    left: 768px;
    z-index: 10;
    opacity: 0.0;
    -webkit-transition: opacity 0.5s;
}
.albumViewContainer {
    width: 768px;
    height: 1024px;
    position: absolute;
    left: 0px;
    opacity: 0.0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
}
.albumOverviewContainerVisible {
    opacity: 1.0;
}
#albumScroll {
    
}

.albumOverview.active {
    top: 0px;
    left: 16px;
    opacity: 1.0;
}

.albumPlaybackBackgroundFrame {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.currentAlbumPlayback {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.5s;
    opacity: 0.0;
}

.currentAlbumPlayback.active {
    opacity: 0.25;
}

.singleAlbum {
    width: 224px;
    height: 224px;
    position:relative;
    margin-right: 32px;
    margin-bottom: 32px;
    float: left;
    background-size: 100%;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.25);
}

.albumFadeOutOverlay {
    width: 768px;
    height: 1024px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/albumFade.png);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 200;
    opacity: 0.0;
}

/* ---------------- MULTIMEDIA - PLAYBACK ---------------- */

.albumPlaybackView {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.0;
    -webkit-transition: opacity 0.5s;
    overflow: hidden;
    position: absolute;
}

.albumPlaybackView.active {
    opacity: 1.0;
}

.queuedTitles {
    width: 512px;
    height: 224px;
    top: 144px;
    position: absolute;
    float: left;
}

.queuedTitles.previous {
    left: -176px;
}

.queuedTitles.next {
    left: 464px;
}

.queuedItem {
    width: 224px;
    height: 224px;
    margin-right: 8px;
    margin-left: 8px;
    position: static;
    float: left;
    background-color: #000;
}

.queuedImage {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.25;
}

.currentTitle {
    width: 352px;
    height: 352px;
    position: relative;
    margin: 80px auto;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.25);
    background-size: 100%;
    background-repeat: no-repeat;
}

.progressBarAll {
    width: 100%;
    height: 30px;
    top: 322px;
    position: absolute;
    background-color: #fff;
    opacity: 0.1;
}

.progressBarCurrent {
    width: 0%;
    height: 30px;
    top: 322px;
    position: absolute;
    background-color: #fff;
    -webkit-transition: width 0.5s;
    -webkit-transition-timing-function: linear;
    opacity: 1.0;
}

.progressIndicatorCurrent {
    width: 2px;
    height: 36px;
    top: 316px;
    left: 0%;
    margin-left: -2px;
    position: absolute;
    background-color: #fff;
    -webkit-transition: left 0.5s;
    -webkit-transition-timing-function: linear;
    opacity: 1.0;
}

.currentTitleLabel {
    z-index: 500;
    opacity: 1.0;
    -webkit-transition: opacity 0.5s;
}

.currentTitleLabel.inactive {
    opacity: 0.0;
}

.currentTitleLabel.song {
    margin-top: -40px;
}
.currentTitleLabel.artist {
    margin-top: -25px;
}

.multimediaMenu {
    width: 576px;
    height: 128px;
    top: 500px;
    position: absolute;
    opacity: 0.0;
    z-index: 300;
    -webkit-transition: left 0.5s, opacity 0.5s;
}

.multimediaMenuPoint {
    width: 192px;
    height: 128px;
    float: left;
    -webkit-transition: opacity 0.5s;
}


.temperatureView {
    opacity: 0.0;
    -webkit-transition: opacity 0.5s;
}

.visible {
    opacity: 1.0;
}

/* -------- MULTIMEDIA ALBUM DETAIL ------ */

.albumDetail {
    opacity: 0.0;
    position: absolute;
    text-align: left;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.3s;
}

.albumDetailArtist {
    left: 260px;
    top: 160px;
    width: 500px;
    position: absolute;
}

.albumDetailTitle {
    left: 260px;
    top: 186px;
    width: 500px;
    position: absolute;
}

.albumDetailArtistTypo {
    font-weight: 300;
}

.albumDetailTitleLabels {
    left: 20px;
    top: 250px;
    width: 728px;
    height: 65px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#fff;
    opacity: 0.5;
    position: absolute;
}

.albumDetailTitleContent {
    width: 728px;
    height: 65px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#fff;
    position: relative;
}

.albumDetailLabel {
    position: absolute;
}

.albumDetailLabel.title {
    left: 60px;
}

.albumDetailLabel.length {
    left: 600px;
}

.albumDetailTitleList {
    position: absolute;
    top: 0px;
    width: 728px;
}

.albumDetailTitleFrame {
    position: absolute;
    left: 20px;
    top: 315px;
    width: 728px;
    height: 645px;
    overflow: hidden;   
}


/* -------- MULTIMEDIA ARTIST DETAIL ------ */

.artistOverview {
    opacity: 0.0;
    position: absolute;
    text-align: left;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.3s;
}

.artistOverview.active {
    opacity: 1.0;
}

.artistCell {
    width: 736px;
    margin: 0px 16px;
    height: 128px;
    top: 0px;
    position: relative;
    background-color: green;
    background-size: contain;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255,255,255,0.5);
}

.artistImage {
    width: 96px;
    height: 96px;
    top: 16px;
    left: 16px;
    background-size: contain;
    position: relative;
    background-color: blue;
}

.artistTitle {
    top: 56px;
    left: 128px;
    width: 50%;
    height: 80px;
    position: absolute;
}

.volumeControl {
    width: 384px;
    height: 384px;
    top: 620px;
    left: 192px;
    position: absolute;
    z-index: 999;
}

#volume {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: -192px;
}

#volumeConst {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: -192px;
}




















