body {
    -ms-content-zoom-boundary-max: 100%;
    -ms-content-zoom-boundary-min: 100%;
    margin: 0;
    padding: 0;
}

.body-area {
    background-color: black;
    -webkit-transition: all 1s;
    z-index: 999;
}

h1 {
    font-family: Helvetica Neue;
    font-size: 30px;
    font-weight: 200;
}


.currentAreaIndicator {
    padding-top: 100px;
    z-index: 100;
    -webkit-transition: all 1.5s;
    width: 768px;
    position: absolute;
}

.showTemperature {
    opacity: 0.0;
    position: absolute;
    top: 200px;
}

.showTemperature > h1 {
    text-align: center;
}

#leftTemperatureZone {
    left: 130px;
}
#rightTemperatureZone {
    left: 550px;
}

.showTemperatureVisible {
    opacity: 1.0;
}

.leftTemperatureViz {
    height: 1024px;
    width: 600px;
    position: absolute;
    top: 0px;
    background-size: 100%;
}

.rightTemperatureViz {
    height: 1024px;
    width: 600px;
    position: absolute;
    top: 0px;
    left: 168px;
    background-size: 100%;
}

#leftTemperatureCold {
    background-image: url(img/coldOverlayLeft.png);
    opacity: 0;
}

#leftTemperatureHot {
    background-image: url(img/hotOverlayLeft.png);
    opacity: 0;
}

#rightTemperatureCold {
    background-image: url(img/coldOverlayRight.png);
    opacity: 0;
}

#rightTemperatureHot {
    background-image: url(img/hotOverlayRight.png);
    opacity: 0;
}

#test-area {
    color: white;
    height: 1024px;
    text-align: center;
}

#last-event {
    background-color: white;
    position: absolute;
    top: 0;
}

#original-event {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
    overflow: hidden;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}
.highlightArea {
    background-color: green;
}

.area1 {
    background-color: #0d242b;
}
.area2 {
    background-color: #14151a;
}
.area3 {
    background-color: #261433;
}



.leftPanel {
    width: 45%;
    height: 0%;
    float: left;
    background-color: yellow;
    -webkit-transition: all 1s;
}

.rightPanel {
    width: 45%;
    height: 0%;
    float: right;
    background-color: blue;
    -webkit-transition: all 1s;
}

.panelVisible {
    height: 100%;
}

.standardVisible {
    opacity: 1.0;
}

.standardFaded {
    opacity: 0.3;
}

.albumOverview {
    width: 768px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    opacity: 1.0;
    -webkit-transition: opacity 0.5s;
}
.albumOverviewContainer {
    width: 768px;
    height: 1024px;
    position: absolute;
    top: 1024px;
    left: 0px;
    overflow: none;
    -webkit-transition: all 0.5s;
}
.albumOverviewContainerVisible {
    top: 0px;
}
#albumScroll {
    
}

#album1 {background-image: url(img/albums/01.jpg);}
#album2 {background-image: url(img/albums/02.jpg);}
#album3 {background-image: url(img/albums/03.jpg);}
#album4 {background-image: url(img/albums/04.jpg);}
#album5 {background-image: url(img/albums/05.jpg);}
#album6 {background-image: url(img/albums/06.jpg);}
#album7 {background-image: url(img/albums/07.jpg);}
#album8 {background-image: url(img/albums/08.jpg);}
#album9 {background-image: url(img/albums/09.jpg);}

#album10 {background-image: url(img/albums/10.jpg);}
#album11 {background-image: url(img/albums/11.jpg);}
#album12 {background-image: url(img/albums/12.jpg);}
#album13 {background-image: url(img/albums/13.jpg);}
#album14 {background-image: url(img/albums/14.jpg);}
#album15 {background-image: url(img/albums/15.jpg);}
#album16 {background-image: url(img/albums/16.jpg);}
#album17 {background-image: url(img/albums/17.jpg);}
#album18 {background-image: url(img/albums/18.jpg);}
#album19 {background-image: url(img/albums/19.jpg);}

#album20 {background-image: url(img/albums/20.jpg);}
#album21 {background-image: url(img/albums/21.jpg);}
#album22 {background-image: url(img/albums/22.jpg);}
#album23 {background-image: url(img/albums/23.jpg);}
#album24 {background-image: url(img/albums/24.jpg);}
#album25 {background-image: url(img/albums/25.jpg);}
#album26 {background-image: url(img/albums/26.jpg);}
#album27 {background-image: url(img/albums/27.jpg);}
#album28 {background-image: url(img/albums/28.jpg);}
#album29 {background-image: url(img/albums/29.jpg);}

#album30 {background-image: url(img/albums/30.jpg);}
#album31 {background-image: url(img/albums/31.jpg);}
#album32 {background-image: url(img/albums/32.jpg);}
#album33 {background-image: url(img/albums/33.jpg);}
#album34 {background-image: url(img/albums/34.jpg);}
#album35 {background-image: url(img/albums/35.jpg);}
#album36 {background-image: url(img/albums/36.jpg);}
#album37 {background-image: url(img/albums/37.jpg);}
#album38 {background-image: url(img/albums/38.jpg);}
#album39 {background-image: url(img/albums/39.jpg);}

#album40 {background-image: url(img/albums/40.jpg);}
#album41 {background-image: url(img/albums/41.jpg);}
#album42 {background-image: url(img/albums/42.jpg);}
#album43 {background-image: url(img/albums/43.jpg);}
#album44 {background-image: url(img/albums/44.jpg);}
#album45 {background-image: url(img/albums/45.jpg);}
#album46 {background-image: url(img/albums/46.jpg);}
#album47 {background-image: url(img/albums/47.jpg);}
#album48 {background-image: url(img/albums/48.jpg);}

.albumOverviewActive {
    top: -256px;
}

.singleAlbum {
    width: 183px;
    height: 183px;
    position:relative;
    margin-right: 12px;
    margin-bottom: 12px;
    float: left;
    background-size: 100%;
}

.everyOther {
    margin-top: -91px;
}

.lastInRow {
    margin-right: 0px;
}

.albumFadeOutOverlay {
    width: 768px;
    height: 900px;
    background-image: url(img/albumFade.png);
    position: absolute;
    top: 124px;
    z-index: 200;
    opacity: 0.0;
    -webkit-transition: opacity 0.25s;
}


















