body {
    -ms-content-zoom-boundary-max: 100%;
    -ms-content-zoom-boundary-min: 100%;
    margin: 0;
    padding: 0;
}

.body-area {
    background-color: black;
    -webkit-transition: all 1s;
    z-index: 999;
}

h1 {
    font-family: Helvetica Neue;
    font-size: 30px;
    font-weight: 200;
}

.currentAreaIndicator {
    padding-top: 100px;
}

.showTemperature {
    opacity: 0.0;
}

.showTemperatureVisible {
    opacity: 1.0;
}

#test-area {
    color: white;
    height: 1024px;
    text-align: center;
}

#last-event {
    background-color: white;
    position: absolute;
    top: 0;
}

#original-event {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
    overflow: hidden;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}
.highlightArea {
    background-color: green;
}

.area1 {
    background-color: #0d242b;
}
.area2 {
    background-color: #331414;
}
.area3 {
    background-color: #261433;
}



.leftPanel {
    width: 45%;
    height: 0%;
    float: left;
    background-color: yellow;
    -webkit-transition: all 1s;
}

.rightPanel {
    width: 45%;
    height: 0%;
    float: right;
    background-color: blue;
    -webkit-transition: all 1s;
}

.panelVisible {
    height: 100%;
}
