body {
    -ms-content-zoom-boundary-max: 100%;
    -ms-content-zoom-boundary-min: 100%;
    margin: 0;
    padding: 0;
}

.body-area {
    background-color: black;
    -webkit-transition: all 1s;
    z-index: 999;
}

h1 {
    font-family: Helvetica Neue;
    font-size: 30px;
    font-weight: 200;
}


.currentAreaIndicator {
    padding-top: 100px;
    z-index: 100;
    -webkit-transition: all 1.5s;
    width: 768px;
    position: absolute;
}

.showTemperature {
    opacity: 0.0;
    position: absolute;
    top: 200px;
}

.showTemperature > h1 {
    text-align: center;
}

#leftTemperatureZone {
    left: 130px;
}
#rightTemperatureZone {
    left: 550px;
}

.showTemperatureVisible {
    opacity: 1.0;
}

.leftTemperatureViz {
    height: 1024px;
    width: 600px;
    position: absolute;
    top: 0px;
    background-size: 100%;
}

.rightTemperatureViz {
    height: 1024px;
    width: 600px;
    position: absolute;
    top: 0px;
    left: 168px;
    background-size: 100%;
}

#leftTemperatureCold {
    background-image: url(img/coldOverlayLeft.png);
    opacity: 0;
}

#leftTemperatureHot {
    background-image: url(img/hotOverlayLeft.png);
    opacity: 0;
}

#rightTemperatureCold {
    background-image: url(img/coldOverlayRight.png);
    opacity: 0;
}

#rightTemperatureHot {
    background-image: url(img/hotOverlayRight.png);
    opacity: 0;
}

#test-area {
    color: white;
    height: 1024px;
    text-align: center;
}

#last-event {
    background-color: white;
    position: absolute;
    top: 0;
}

#original-event {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
    overflow: hidden;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}
.highlightArea {
    background-color: green;
}

.area1 {
    background-color: #0d242b;
}
.area2 {
    background-color: #14151a;
}
.area3 {
    background-color: #261433;
}



.leftPanel {
    width: 45%;
    height: 0%;
    float: left;
    background-color: yellow;
    -webkit-transition: all 1s;
}

.rightPanel {
    width: 45%;
    height: 0%;
    float: right;
    background-color: blue;
    -webkit-transition: all 1s;
}

.panelVisible {
    height: 100%;
}

.standardVisible {
    opacity: 1.0;
}

.standardFaded {
    opacity: 0.3;
}

.albumOverview {
    width: 768px;
    position: relative;
    top: -3000px;
    left: 0px;
    z-index: 10;
    opacity: 1.0;
    -webkit-transition: opacity 1s;
}
.albumOverviewContainer {
    width: 768px;
    height: 1024px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#albumScroll {
    
}

#album1 {
    background-image: url(img/albums/01.png);
}
#album2 {
    background-image: url(img/albums/02.png);
}
#album3 {
    background-image: url(img/albums/03.png);
}
#album4 {
    background-image: url(img/albums/04.png);
}
#album5 {
    background-image: url(img/albums/05.png);
}
#album6 {
    background-image: url(img/albums/06.png);
}
#album7 {
    background-image: url(img/albums/07.png);
}
#album8 {
    background-image: url(img/albums/08.png);
}
#album9 {
    background-image: url(img/albums/09.png);
}
#album10 {
    background-image: url(img/albums/10.png);
}
#album11 {
    background-image: url(img/albums/11.png);
}
#album12 {
    background-image: url(img/albums/12.png);
}


.albumOverviewActive {
    top: -256px;
}

.singleAlbum {
    width: 183px;
    height: 183px;
    position:relative;
    margin-right: 12px;
    margin-bottom: 12px;
    float: left;
    background-size: 100%;
}

.everyOther {
    margin-top: -91px;
}

.lastInRow {
    margin-right: 0px;
}

.albumFadeOutOverlay {
    width: 768px;
    height: 900px;
    background-image: url(img/albumFade.png);
    position: absolute;
    top: 124px;
    z-index: 200;
}


















