body {
    -ms-content-zoom-boundary-max: 100%;
    -ms-content-zoom-boundary-min: 100%;
    margin: 0;
    padding: 0;
}

.body-area {
    background-color: black;
    -webkit-transition: all 1s;
    z-index: 999;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 768px;
    height: 1024px;
}

h1 {
    font-family: Helvetica Neue;
    font-size: 34px;
    font-weight: 300;
}

h2 {
    font-family: Helvetica Neue;
    font-size: 22px;
    font-weight: 300;
}


.currentAreaIndicator {
    padding-top: 100px;
    z-index: 100;
    -webkit-transition: all 1.5s;
    width: 768px;
    position: absolute;
}

.showTemperature {
    position: absolute;
    top: 200px;
    -webkit-transition: opacity 0.5s;
}

.showTemperature > h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 200;
}

#leftTemperatureZone {
    left: 102px;
}
#rightTemperatureZone {
    left: 556px;
}

.temperatureUnit {
    position: absolute;
    top: 700px;
    width: 120px;
    text-align: center;
    opacity: 0.3;
}

.temperatureUnit.left {
    left: 102px;
}
.temperatureUnit.right {
    left: 556px;
}

.temperatureIndicator {
    width: 130px;
    height: 130px;
    margin-left: -65px;
    margin-top: -65px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(255,255,255);
    border-width: 2px;
    -webkit-transition: opacity 0.25s, width 0.5s, height 0.5s, margin-left 0.5s, margin-top 0.5s;
    opacity: 0.3;
    position: absolute;
}

.temperatureIndicator > .center {
    margin-top: 50px;
    -webkit-transition: opacity 0.25s, margin-top 0.5s;
}

.temperatureIndicatorActive > .center {
    margin-top: 115px;
}

.temperatureIndicatorActive {
    width: 260px;
    height: 260px;
    margin-left: -130px;
    margin-top: -130px;
    opacity: 1.0;
}

#centerTempIndicator {
    top: 512px;
    left: 384px;
}

#leftTempIndicator {
    top: 512px;
    left: 160px;
}

#rightTempIndicator {
    top: 512px;
    left: 609px;
}



.leftTemperatureViz {
    height: 1024px;
    width: 768px;
    position: absolute;
    top: 0px;
    background-size: 100%;
}

.rightTemperatureViz {
    height: 1024px;
    width: 768px;
    position: absolute;
    top: 0px;
    background-size: 100%;
}

.temperatureMenu {
    width: 576px;
    height: 128px;
    top: 200px;
    position: absolute;
    opacity: 0.0;
    -webkit-transition: left 0.5s, opacity 0.5s;
}

.temperatureMenuL {
    left: -128px;
}

.temperatureMenuR {
    left: 320px;
}

.temperatureMenuPoint {
    width: 192px;
    height: 128px;
    float: left;
    -webkit-transition: opacity 0.5s;
}

.menuPoint {
    margin-top: -4px;
    font-weight: 500;
}

.menuIcon {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
}

#menuIcon1 {
    background-image: url(img/icons/ventilation.png);
}
#menuIcon2 {
    background-image: url(img/icons/seatHeating.png);
}
#menuIcon3 {
    background-image: url(img/icons/seatCooling.png);
}

#leftTemperatureCold {
    background-image: url(img/cold-left.png);
    opacity: 0;
}

#leftTemperatureHot {
    background-image: url(img/hot-left.png);
    opacity: 0;
}

#rightTemperatureCold {
    background-image: url(img/cold-right.png);
    opacity: 0;
}

#rightTemperatureHot {
    background-image: url(img/hot-right.png);
    opacity: 0;
}

.connectingLine {
    height: 2px;
    top: 512px;
    position: absolute;
    background-color: #fff;
    opacity: 0.3;
    -webkit-transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
}

.leftConnectingLine {
    left: 229px;
    width: 90px;
}

.leftCLeftNodeActive {
    left: 292px;
    width: 27px;
}
.leftCCenterNodeActive {
    left: 229px;
    width: 27px;
}

.rightConnectingLine {
    left: 453px;
    width: 91px;
}
.rightCRightNodeActive {
    left: 453px;
    width: 27px;
}
.rightCCenterNodeActive {
    left: 517px;
    width: 27px;
}

.upConnectingLine {
    left: 383px;
    height: 90px;
    width: 2px;
    top: 357px;
    background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
}
.upConnectingLineActive {
    top: 292px;
}
.downConnectingLine {
    left: 383px;
    height: 90px;
    width: 2px;
    top: 581px;
    background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
}
.downConnectingLineActive {
    top: 645px;
}

#test-area {
    color: white;
    height: 1024px;
    text-align: center;
}

#last-event {
    background-color: white;
    position: absolute;
    top: 0;
}

#original-event {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
    overflow: hidden;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}
.highlightArea {
    background-color: green;
}


/* background colors for specific areas, if needed */
.area1 {
    background-color: #000;
}
.area2 {
    background-color: #000;
}
.area3 {
    background-color: #000;
}



.leftPanel {
    width: 45%;
    height: 0%;
    float: left;
    background-color: yellow;
    -webkit-transition: all 1s;
}

.rightPanel {
    width: 45%;
    height: 0%;
    float: right;
    background-color: blue;
    -webkit-transition: all 1s;
}

.panelVisible {
    height: 100%;
}

.standardVisible {
    opacity: 1.0;
}

.standardFaded {
    opacity: 0.3;
}

.albumOverview {
    width: 768px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    opacity: 1.0;
    -webkit-transition: opacity 0.5s;
}
.albumOverviewContainer {
    width: 768px;
    height: 1024px;
    position: absolute;
    top: 1300px;
    left: 0px;
    overflow: none;
    -webkit-transition: all 0.5s;
}
.albumOverviewContainerVisible {
    top: 0px;
}
#albumScroll {
    
}

#album1 {background-image: url(img/albums/01.jpg);}
#album2 {background-image: url(img/albums/02.jpg);}
#album3 {background-image: url(img/albums/03.jpg);}
#album4 {background-image: url(img/albums/04.jpg);}
#album5 {background-image: url(img/albums/05.jpg);}
#album6 {background-image: url(img/albums/06.jpg);}
#album7 {background-image: url(img/albums/07.jpg);}
#album8 {background-image: url(img/albums/08.jpg);}
#album9 {background-image: url(img/albums/09.jpg);}

#album10 {background-image: url(img/albums/10.jpg);}
#album11 {background-image: url(img/albums/11.jpg);}
#album12 {background-image: url(img/albums/12.jpg);}
#album13 {background-image: url(img/albums/13.jpg);}
#album14 {background-image: url(img/albums/14.jpg);}
#album15 {background-image: url(img/albums/15.jpg);}
#album16 {background-image: url(img/albums/16.jpg);}
#album17 {background-image: url(img/albums/17.jpg);}
#album18 {background-image: url(img/albums/18.jpg);}
#album19 {background-image: url(img/albums/19.jpg);}

#album20 {background-image: url(img/albums/20.jpg);}
#album21 {background-image: url(img/albums/21.jpg);}
#album22 {background-image: url(img/albums/22.jpg);}
#album23 {background-image: url(img/albums/23.jpg);}
#album24 {background-image: url(img/albums/24.jpg);}
#album25 {background-image: url(img/albums/25.jpg);}
#album26 {background-image: url(img/albums/26.jpg);}
#album27 {background-image: url(img/albums/27.jpg);}
#album28 {background-image: url(img/albums/28.jpg);}
#album29 {background-image: url(img/albums/29.jpg);}

#album30 {background-image: url(img/albums/30.jpg);}
#album31 {background-image: url(img/albums/31.jpg);}
#album32 {background-image: url(img/albums/32.jpg);}
#album33 {background-image: url(img/albums/33.jpg);}
#album34 {background-image: url(img/albums/34.jpg);}
#album35 {background-image: url(img/albums/35.jpg);}
#album36 {background-image: url(img/albums/36.jpg);}
#album37 {background-image: url(img/albums/37.jpg);}
#album38 {background-image: url(img/albums/38.jpg);}
#album39 {background-image: url(img/albums/39.jpg);}

#album40 {background-image: url(img/albums/40.jpg);}
#album41 {background-image: url(img/albums/41.jpg);}
#album42 {background-image: url(img/albums/42.jpg);}
#album43 {background-image: url(img/albums/43.jpg);}
#album44 {background-image: url(img/albums/44.jpg);}
#album45 {background-image: url(img/albums/45.jpg);}
#album46 {background-image: url(img/albums/46.jpg);}
#album47 {background-image: url(img/albums/47.jpg);}
#album48 {background-image: url(img/albums/48.jpg);}

.albumOverviewActive {
    top: -256px;
}

.singleAlbum {
    width: 183px;
    height: 183px;
    position:relative;
    margin-right: 12px;
    margin-bottom: 12px;
    float: left;
    background-size: 100%;
}

.everyOther {
    margin-top: -91px;
}

.lastInRow {
    margin-right: 0px;
}

.albumFadeOutOverlay {
    width: 768px;
    height: 900px;
    background-image: url(img/albumFade.png);
    position: absolute;
    top: 124px;
    z-index: 200;
    opacity: 0.0;
    -webkit-transition: opacity 0.25s;
}


.temperatureView {
    opacity: 0.0;
    -webkit-transition: opacity 0.5s;
}

.visible {
    opacity: 1.0;
}















